a:nth-child(4){
    color: red;
    background-color: yellow;
}

a:nth-child(1){
    color: red;
    background-color: yellow;
}

h1:only-of-type{
    color: red;
    background-color: yellow;
}

.heading{
    color: red;
    background-color: yellow;
}

.head{
    color: red;
    background-color: yellow;
}

input {
    color: red;
    background-color: yellow;
}

p:last-child{
    color: red;
    background-color: yellow;
}

/* body h1:nth-child(3){

    color: red;
    background-color: yellow;

} */

body h1:nth-child(6){

    color: red;
    background-color: yellow;

}

section h1:last-child{

    color: red;
    background-color: yellow;
}

h1:nth-child(19){
    color: red;
    background-color: yellow;
}

h1:nth-child(22){
    color: red;
    background-color: yellow;
}

 h1:nth-last-child(22){
        color: red;
        background-color: yellow;
    }

    div:nth-child(12) h1:nth-child(2){
        color: red;
        background-color: yellow;
    }

    h1:nth-last-child(11) {
        color: red;
        background-color: yellow;
    }

    div:nth-last-child(2) h1:nth-child(1){
        color: red;
        background-color: yellow;
    }

    div:nth-last-child(2) h1:last-child {
        color: red;
        background-color: yellow;
    }
 