@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}
body{

    font-family: 'Urbanist';
}

ul , ol {
    padding: 0;
}

/* Sandbox start */

.container{
    max-width: 1100px;
    /* border:1px solid black; */
    margin: auto;
}
.navigation{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 25px 0px;
}

.nav-items nav ul li , .social-icons ul li{
    display: inline;
}

.nav-items nav ul li{
    padding: 0px 20px;
}

.nav-items nav ul li a{
    font-size: 16px;
    font-weight: 630;
    color:rgba(0, 0, 0, 0.737)
}


.social-icons ul li{
    padding: 0px 8px;
	color: rgba(0, 0, 0, 0.737);
}

.social-icons ul li i{
    /* padding: 0px 8px; */
	color: rgba(0, 0, 0, 0.737);
}
/* Sandbox End */

/* Banner Section Start */
.bnr {
	max-width: 1300px;
	margin: 0 auto;
	padding-bottom: 150px;
}
.banner {
	background-image: url('../image/Banner-Back.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 150px 0px;
	height: 650px;
	border-radius: 15px;
}
.solution-main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.solution-text{
    max-width:470px;
    }
.solution-text h1{
    font-size: 46px;
    color:rgba(0, 0, 0, 0.742)
}
.solution-text p {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.742);
	margin-top: 15px;
}
.solution-text .gradiant{
        background-image: linear-gradient(120deg, rgb(248, 87, 166) 10%, rgb(239, 63, 110) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
}
.explore a {
	padding: 15px 25px;
	background-color: pink;
	background-image: linear-gradient(120deg, rgb(248, 87, 166) 10%, rgb(239, 63, 110) 100%);
	display: inline-block;
	margin-top: 30px;
	color: white;
	font-size: 18px;
	border-radius: 7px;
    font-weight: bold;
}
.explore a:hover {
    transform: translateY(-0.1rem);
  box-shadow: 0 .25rem .75rem rgba(30,34,40,.15);
}
.solution-image{
    /* position: absolute; */
    right: 0;
}
.solution-image img{
    max-width: 550px;
}
/* Banner Section End */

.title p {
    background-image: linear-gradient(120deg, rgb(248, 87, 166) 10%, rgb(239, 63, 110) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.title h3 {
    color: #343f52;
    font-size: 36px;
    font-weight: 600;
    padding: 15px 0;
}
/* features Section Start */
.features{
    text-align: center;
}
.features_box {
	display: flex;
	text-align: left;
    padding: 25px 0;
}
.f_box {
	display: flex;
	padding: 0 10px;
}
.f_icon i {
	color: #b55dba;
	font-size: 40px;
	padding-right: 15px;
}
.f_text h4 {
	font-size: 24px;
	color: #343f52;
	padding-bottom: 15px;
}
.f_text p {
	font-size: 16px;
	color: #60697b;
	line-height: 22px;
	font-weight: 500;
}
/* features Section End */

/* Control Section Start */

.Control_sec {
	padding: 120px 0;
}
.Control {
	display: flex;
	align-items: center;
}
.Control_img img {
	width: 500px;
}
.Control_text {
	padding-left: 20px;
}
.Control_img {
	margin-right: 20px;
}
.Control_text p {
	color: #60697b;
	font-size: 19px;
	line-height: 30px;
	font-weight: 500;
}
.Control_text ul {
	padding: 20px 35px 0 0;
}
.Control_text li {
	color: #60697b;
	font-size: 19px;
	line-height: 30px;
	font-weight: 500;
	display: flex;
}
.Control_text ul li span {
	display: block;
	padding-right: 15px;
}
.Control_text ul li span i {
	background-color: #e2e2f3;
	font-size: 14px;
	padding: 5px 6px;
	border-radius: 100px;
}
.Control_list {
	display: flex;
}
/* Control Section End */

/* Different Section Start */
.Different_list ul {
	padding: 20px 35px 0 0;
}
.Different_list li {
	color: #60697b;
	font-size: 19px;
	line-height: 30px;
	font-weight: 500;
	display: flex;
}
.Different_list ul li span {
	display: block;
	padding-right: 15px;
}
.Different_list ul li span i {
	background-color: #e2e2f3;
	font-size: 14px;
	padding: 5px 6px;
	border-radius: 100px;
}
.Control_text.different_box {
	width: 47%;
}
.Different_img img {
		width: 560px;
		border-radius: 10px;
}
.Different {
	display: flex;
	align-items: center;
}
.Different_sec {
	padding: 0 0 120px 0;
}
/* Different Section End */

/* Proud Section Start */
.proud {
	max-width: 1300px;
	margin: 0 auto;
	padding-bottom: 150px;
	position: relative;
}
.main_proud {
	background-image: url('../image/Banner-Back.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0px;
	height: 450px;
	border-radius: 15px;
}
.proud_head {
	display: flex;
}
.proud_text p {
	color: #60697b;
	font-size: 21px;
	line-height: 27px;
	font-weight: 500;
}
.proud_info {
	text-align: center;
	display: flex;
}
.proud_icon {
	width: 240px;
}
.proud_custo {
	display: flex;
	position: absolute;
	bottom: 0;
	z-index: 99;
}
.proud_text {
	width: 300px;
	margin-right: 80px;
}
.proud_icon i {
	font-size: 44px;
	color: #f857a6;
}
.proud_icon h4 {
	font-size: 36px;
	color: #343f52;
	padding: 10px 0;
}
.proud_icon h6 {
	font-size: 18px;
	color: #60697b;
	font-weight: 600;
}
.proud_text .title h3{
	padding-top: 0;
}
.proud_custo {
	display: flex;
}
.proud_box {
	background-color: white;
	padding: 30px;
	box-shadow: 0 .25rem 1.75rem rgba(30,34,40,.07) !important;
	border-radius: 10px;
	margin: 0 15px;
	width: 245px;
	border-bottom: 6px solid #cfceea;
}
.proud_box p {
	font-size: 18px;
	color: #7a7b7d;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 20px;
}
.proud_box h3 {
	font-size: 20px;
	color: #60697b;
	margin-bottom: 10px;
}
.proud_box h5 {
	font-size: 16px;
	color: #6f7787;
	font-weight: 500;
}
/* Proud Section End */

/* Case  Section Start */
.case {
	text-align: center;
	padding: 120px 0;
}
.case_info {
	display: flex;
	margin-top: 35px;
}
.case_box{
	text-align: left !important;
	margin: 0 15px;
}
.case_box img {
    width: 340px;
    border-radius: 7px;
}
.case_box h3 {
	color: #343f52;
	font-size: 22px;
	padding: 20px 0;
}
.case_box li {
	color: #aab0bc;
	display: inline-block;
	padding-right: 20px;
}
.case_box li i {
	margin-right: 5px;
}
/* Case  Section End */

/* About Us  Section Start */

.about_text p {
    color: #60697b;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.about_text li {
    color: #60697b;
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    display: flex;
	
}
.about_text ul li span {
	display: block;
	padding-right: 15px;
	line-height: 20px;
	
}
.about_text ul li span i {
	background-color: #e2e2f3;
	font-size: 14px;
	padding: 5px 6px;
	border-radius: 100px;
}

.about_text ul li {
	padding: 5px 5px;
}


.about_list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} 
.about_info {
    display: flex;
    align-items: center;
}
.abou_img img {
    width: 550px;
    margin-right: 40px;
}
.about_text {
    width: 600px;
    margin-right: -70px;
}
.about_sub {
    display: flex;
    padding-top: 60px;
}
.about_icon {
    width: 67px;
    height: 44px;
    padding: 13px;
    padding-left: 18px;
    color: #605DBA;
    background-color: #E2E2F3;
    font-family: "Urbanist", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    word-spacing: 0px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 15px;
}
.abt h3 {
    color: #343f52;
    font-size: 23px;
    padding-bottom: 10px;
    font-weight: 600;
}
.abt p {
    color: #60697b;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.about_box {
    display: flex;
    padding: 0 15px;
}
/* About Us  Section End */

/* Contact Us  Section Start */
.contact{
	display: flex;
	padding-top: 120px;
	align-items: center;
}
.contact_img{
	margin-right: 80px;
}
.contact_img img {
    width: 630px;
    margin-left: -90px;
}
.con_icon i {
    color: #f857a6;
    font-size: 30px;
}
.contact_info {
    display: flex;
    padding-bottom: 26px;
}
.con_icon {
    margin-right: 15px;
}
.contact_info.cn {
    padding-top: 25px;
}
.con_text h4 {
    color: #343f52;
    font-size: 22px;
    padding-bottom: 8px;
    font-weight: 600;
}
.con_text p {
    color: #60697b;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}
/* Contact Us  Section End */

/* Join Us  Section Start */
.join_us {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 120px;
}
.join_bg {
    background-image: url('../image/Banner-Back.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0px;
    border-radius: 15px;
}
.join_btn a {
    margin-top: 20px !important;
}
/* Join Us  Section End */


/* Footer Us  Section Start */


.main_footer{
   	padding-top: 40px;
	justify-content: center;
}
.footer_logo ul{
	display: flex;
	margin-top: 15px;
    gap: 20px;
}

.footer_logo ul li{
	color:#171618;
}
  
.footer{
	display: flex;
	padding-bottom: 50px;
	gap: 80px;
}

.footer a{
	color: #373c47dc;
}

.footer p{
	color: #373c47dc;
	font-weight: 500;
	padding-top: 20px;
	line-height: 26px;
	
}

.footer h4{
	padding-bottom: 20px;
}


.footer_add {
	    color: #373c47;
		font-size: 18px;
		line-height: 28px;
		font-weight: 500;
		padding-left: 25px;
		position: relative;
		left:40px

}

.footer_link{
	    color: #373c47;
		font-size: 18px;
		line-height: 35px;
		font-weight: 500;
		position: relative;
		left:120px
}

.footer-col{
	   color: #373c47;
		font-size: 18px;
		line-height: 26px;
		font-weight: 500;
		position: relative;
		left:200px
		

}


form{
	padding-top: 20px;
}

form input {
	padding: 15px 20px 15px 20px;
	border:1px solid rgba(133, 132, 132, 0.817);
	border-bottom-left-radius: 3px; 
	border-top-left-radius: 3px; 
	box-shadow: 10px 10px 10px whitesmoke;

	/* border-bottom-right-radius: 3px; */
	
}

form button{
	padding: 16px 20px 15.5px 20px;
	background-image: linear-gradient(120deg, rgb(248, 87, 166) 10%, rgb(239, 63, 110) 100%);
	border-top-right-radius: 3px;
	 border-bottom-right-radius: 3px;
	border:0px solid transparent;
	margin-right: 100px;
	position: absolute;
	font-size: bold;
	font-weight: 600;
	color: white;
	cursor:pointer;				
}
	
input::placeholder{
	font-weight: 540;

}



/* Footer Us  Section End */