
body{
    background-color: bisque;
    background-image: url("image/cg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
  }

h1{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  font-variant:small-caps;
  text-align: center;
  /* background-color:antiquewhite; */
  border-radius: 100%;
  animation: wicket 5s infinite;

 
}
.stump{
    position: absolute;
    width: 100px;
    height: 200px;
    background-image: url(stump1.png);
    bottom: 0;
    right: 0;
    background-size: cover;
    animation: out 5s infinite;
  }
  img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: -10%;
    bottom: 30%;
    background-color:antiquewhite;
    border-radius: 100%;
    border: 2px solid black;
    background-size: cover;
    animation: bolling 5s infinite;
    animation-timing-function: linear ;
  }

  
  @keyframes bolling {
    0%{
      left: -10%;
    }
    65%{
      left: 65%;
      bottom: 0;
  
    }
    100%{
      left: 100%;
      bottom: 20%;
    }
  }
  @keyframes out {

    0%{
      background-image: url(image/stump1.png);
    }
    90%{
      background-image: url(image/stump1.png);
    }
    100%{
      background-image: url(image/stump2.png);
    }
  }

  @keyframes wicket {

    0%{
      display: none;
    }
    95%{
     display: none;
    }
    100%{
      display: block;
    }
  }
