.maindiv{
    background-color: gray;
    height: 650px;
    width: 1400px;
    border: 1px solid black;
    position: relative;
        
}

.div-1{

    height: 100px;
    width: 100px;
    background-color: yellow;
    position:absolute;
}

.div-2{

    height: 100px;
    width: 100px;
    background-color:green;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

.div-3{

    height: 100px;
    width: 100px;
    background-color:red;
    position: absolute;
    margin: auto;
    right: 0;
}

.div-4{

    height: 100px;
    width: 100px;
    background-color:red;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.div-5{

    height: 100px;
    width: 100px;
    background-color:red;
    position: absolute;
    margin: auto;
    inset: 0 0 0 0; /*top bottom right left */
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;
 */
}